/* Login.module.css */
.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-bg-page);
  padding: var(--spacing-md);
}

.formContainer {
  width: 100%;
  max-width: 400px;
  background-color: var(--color-bg-component);
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.title {
  font-size: 1.75rem; /* 28px */
  font-weight: 600;
  color: var(--color-text-primary);
  margin-top: var(--spacing-sm);
}

.subtitle {
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: var(--spacing-xs);
  font-weight: 500;
  color: var(--color-text-primary);
}

.input {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: #fcfcfc;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.2);
}

.inputError {
  border-color: var(--color-danger);
}

.errorMessage {
  color: var(--color-danger);
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-xs);
}

.submitButton {
  padding: var(--spacing-md);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: var(--color-primary-dark);
}

.submitButton:disabled {
  background-color: var(--color-border);
  cursor: not-allowed;
}

.formActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Para telas pequenas */
  gap: var(--spacing-sm);
  font-size: var(--font-size-sm);
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkboxLabel {
  color: var(--color-text-secondary);
  cursor: pointer;
  user-select: none; /* Impede seleção de texto ao clicar */
}

.forgotPassword {
  background: none;
  border: none;
  color: var(--color-primary);
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  font-size: var(--font-size-sm);
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
  color: var(--color-primary-dark);
}